<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

{% comment %} <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> {% endcomment %}

{% comment %} <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> {% endcomment %}

{% comment %} <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet"> {% endcomment %}

<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">

{% comment %} <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet"> {% endcomment %}

{% comment %} <link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet"> {% endcomment %}

<!-- end custom head snippets -->
